
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100..900;1,100..900&family=Limelight&family=Oswald:wght@200..700&family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');

*{
    font-family: Radio Canada Big;
}

body{
    margin: 0px
}

.navbar{

}

.nav-list{
    list-style: none;
    text-indent: -.5em;
    display: flex;
    flex-wrap: wrap;
}


.main-bar{
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 1em;
    position: fixed;
    width: 100vw;
    z-index: 100;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.145);
}

.brand-burger{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-size: 1.5em;
    color: white;
    text-decoration: none;
    transition: color ease-in-out .3s;
    @media only screen and (min-width: 1080px){
        font-size: 2em;
    }
}

.brand:hover{
    color:lightblue;
}

.burger{
    display: flex;
    width: 100px;
    a{
        font-size: 2em;
    }
}

.burger.off{
    display:none;
}

.close-menu{
    width: 100px;
    display: flex;
    font-size: 4em;
    transition: all .2s ease;
    a{
        color: white;
        text-decoration:none;

    }
}

.close-menu.off{
    display: none;
}

#drop-menu{
    display: flex;
    overflow: hidden;
    height: 0px;
    background-color: black;
    align-items: center;
    transition: height .3s ease;
    justify-content: space-evenly;
    ul{
        display: contents;
    }
}

#drop-menu.open{
    height: 40px;
    background-color: black;
}

.menu-item{
    color: white;
    text-decoration: none;
    margin: 10px;
    font-size: larger;
    padding-right: 20px;
    transition: color ease-in-out .3s;
}

.menu-item:hover{
    color: salmon;
}

.spacer{
    height: .5em;
    @media only screen and (min-width: 1080px){
        height: 125px;
    }

}